@using umbraco.MacroEngines
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    @* Get the root of the website *@
    var root = CurrentPage.AncestorOrSelf(1);
    //string selected = "";
    //var allProjects = Umbraco.TypedContentAtXPath("//ProjectItem");


}
<ul class="nav navbar-nav">
    @foreach (var menuItem in root.Children.Where("umbracoNaviHide == false"))
    {
        var isProtected = umbraco.library.IsProtected(menuItem.id, menuItem.path);
        var loginAccess = umbraco.library.IsProtected(menuItem.id, menuItem.path) && umbraco.library.HasAccess(menuItem.id, menuItem.path);
        if (!isProtected || loginAccess)
        {
            if (menuItem.Name == "Projects")
            {
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        @menuItem.Name <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var project in menuItem.Children.Where("UmbracoNaviHide == false"))
                        {
                            var projectIsProtected = umbraco.library.IsProtected(project.id, project.path);
                            var projectLoginAccess = umbraco.library.IsProtected(project.id, project.path) && umbraco.library.HasAccess(project.id, project.path);
                            if (!projectIsProtected || projectLoginAccess)
                            {
                                <li class="@(project.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                                    <a href="@project.Url">@project.Name</a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="@(menuItem.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                    <a href="@menuItem.Url">@menuItem.Name</a>
                </li>
            }

        }


    }
</ul>
