@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json
@using Umbraco.Web.Models
@{
    Layout = "MasterTemplate.cshtml";

    var memberService =
    ApplicationContext.Current.Services.MemberService;
    var members = memberService.GetMembersByGroup("Full Member");
}
<h1>@CurrentPage.Name</h1>

    @*var skillString = "";
    if (member.GetValue("skills") != null)
    {
        String[] skills = member.GetValue("skills").ToString().Split(',');
        skillString = string.Join(", ", from skill in skills select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
    }*@
    
        @*Skills: @skillString*@






<div class="list-group col-md-4">
    @foreach (var member in members)
    {
        <div class="list-group-item">
            <div class="row-picture">
                @if (member.GetValue("photo") != null)
                {
                    var cropUrl = Umbraco.TypedMember(member.Id).GetCropUrl("photo", "small");
                    <img class="circle" src="@cropUrl" alt="icon">
                }

            </div>
            <div class="row-content">
                <h4 class="list-group-item-heading">@member.GetValue("firstname") @member.GetValue("lastname")</h4>

                <p class="list-group-item-text">@member.GetValue("address")</p>
                <p class="list-group-item-text">@member.GetValue("zip") @member.GetValue("city")</p>
                <p class="list-group-item-text">Email: @member.Email</p>

            </div>
        </div>

        <div class="list-group-separator"></div>
    }
</div>